* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: url("assets/coffeebackground1.jpeg");
    background-size: 100%;
    background-repeat: repeat-y;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}


#coffeeHeader {
    font-family: 'Yellowtail', cursive;
    font-size: 5em;
    margin-left: -7em;
    text-shadow: 2px 2px goldenrod;
    font-weight: bold;
    /*z-index: 1;*/
}

#coffeeHeader > h1 {
    font-size: 5rem !important;
}

.spacer {
    height: 1.25rem;
}

.formCard {
    border: 2px solid black;
    border-radius: 5px;
    background: sienna;
    /*background-image: url("assets/plank-texture.jpg");*/
    padding: 10px;
    font-size: 1.25em;
    color: #252525;
    text-align: center;
}

.coffeediv {
    width: 52%;
    font-family: 'Homemade Apple', cursive;
    font-size: 12px;
    padding-left: 7%;
    margin-top: 1%;
    padding-bottom: 3%;
    color: lightgray;
    float: left;
    /*margin-left: 2%;*/
}

#coffeeoutputtable {
    /*margin-left: 2%;*/
    width: 100%;
    min-height: 50vh!important;
    /*height: 50% !important;*/
    border-radius: 10px;
}

#coffeeSearch {
    /*margin-left: 12%;*/
}

#coffesearchdiv {
    display: inline-block;
    margin-right: -10%;
}

#coffees {
    padding-left: 2%;
}

.roastName {
    padding-left: 10px;
    line-height: 2em;
    font-family: 'Gochi Hand', cursive;
    font-size: 1.5em;

}

#container {
    width: 58%;
    min-height: 50%;
    border-radius: 10px;
    background-image: url("assets/chalkboarder.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: inline-block;
}

label {
    margin: 0 !important;
}

#forms {
    width: 58% !important;
    margin-left: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

#addACoffee {
    /*padding-left: 25px;*/
    float: left;
}

#logoid {
    background-image: url("assets/coffeelogo.jpg");
    height: 175px;
    width: 175px;
    border-radius: 50%;
    z-index: 10;
    /*background-position: center;*/
    /*position: absolute;*/
    /*opacity: .5;*/
}

#factCard {
    padding: 1%;
    /*margin: 0;*/
    margin-left: auto;
    margin-right: 25px;
    margin-top: 75px;
    width: 550px;
    height: 300px;
    background: sienna;
    border: 2px solid black;
    border-radius: 5px;
    clear: both;


}

#coffeeFacts {
    font-family: monospace;
    font-size: 2em;
    /*width: 400px;*/
    /*clear: right;*/
    /*margin-left: 15%;*/
    /*width: 25%;*/
    /*margin-left: 40%;*/
}

#didyouKnow {
    font-family: monospace;
    font-size: 2em;
    /*width: 200px;*/
    /*margin-left: 40%*/

    /*margin-left: 15%;*/
    /*width: 25%;*/
}
.coffeegifcard {
    /*background-image: url("assets/coffeetime.gif");*/
    height: 150px;
    width: 150px;
    background-position: center;
}

#coffeegif {
    height: 100%;
    width: 100%;
}